# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://erkhaktgtamutcjauatk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_anon_key_aqui

# Household ID do casal (gerado na configuração inicial)
NEXT_PUBLIC_HOUSEHOLD_ID=13588205-db20-4667-b6ac-2855fc3f9dcd
